/* UTILITIES */

body {
    background: white;
    font-weight: bold;
}
/*BOTTONE*/
.main-header .navi .list2 .btn.mrg-top {
    margin-top: 0px;
}
.hero .registration-form.ta-btn {
    padding: 5px;
    font-size: 16px;
}

.ta-btn-outline {
    border: 1px solid #2786fd;
}

.ta-btn-outline:hover {
    background: #002655;
}
/* HEADER  NAV*/

.main-header .navi {
    height: 80px;
}

.navi-logo img {
    padding-top: 20px;
    width: 170px;
}

.hamburger i{
    color: #4f96fe;
    padding-top: 25px;
    font-size: 20px;
}

.navi .list1 a {
   color: #0a2253;
   text-decoration: none;
   transition: color .2s;
   padding: 0 5px;
}

.navi .list1 {
    padding-top: 30px;
    margin-right: 15px;
    font-size: 15px;
}

.navi .list2 {
    padding-top: 11px;
    margin-right: 20px;
    font-size: 15px;
    margin-top: 15px;
}

.navi .list2 a {
    color: #0a2253;
    text-decoration: none;
    transition: color .2s;
 }

 .navi .list2 li:not(:last-child) {
    padding: 0 5px;
}

 .list1 a:hover,
 .list2 a:hover {
    color: #2384fd;
 }
 /*JUMBOTRON*/

.jumbotron h2 {
    text-align: center;
    font-weight: bold;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.jumbotron p {
    color: #6b94ff;
    font-weight: bold;
    font-size: 18px;
}

.jumbotron {
    background-image: url(./img/bg-banner-home.jpg);
    background-size: contain;
    margin-bottom: 0;
}

.container .registration-form {
    padding: 20px 15px;
}

.registration-form {
    background-color: white;
    border-radius: 5px;
}

.hero-content .registration-form input[type="email"],
.hero-content .registration-form input[type="password"] {
    font-size: 15px;
    box-shadow: none;
    padding-top: 5px;
    padding-left: 4px;
}

.hero-content .registration-form .btn1 {
    background-color: #579aff;
    color: white;
}

.hero-content .registration-form .btn2 {
    background-color: white;
    box-shadow: 2px 2px #e3e3e3;
    position: relative;
}

.hero-content .registration-form .btn2 img {
    width: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.hero-content .registration-form p {
    text-align: center;
    font-size: 12px;
    color: #031c4e;
    margin-top: 20px;
    margin-bottom: 30px;
}
/*ICONS*/

.icons {
    background-color: #f3f5f9;
}

.icons .link {
    padding-top: 30px;
    font-weight: bold;
    font-size: 15px;
}

.icons h5 {
    color: #6f7b97;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 40px;
}

.icons .content {
    padding-bottom: 30px;
}

.icons img {
    display: inline-block;
    margin: 0 10px;
    width: calc((100% / 2) - 34px);
}

@media screen and (min-width: 768px) {
    .icons img {
        width: calc((100% / 6) - 30px);
    }
}
/*INFORMATION*/

.informations {
    margin-top: 50px;
}

.informations h2 {
    color: #031c4e;
    font-weight: bold;
    padding-bottom: 10px;
}

.informations p {
    color: #5c6a87;
    font-size: 21px;
    padding-bottom: 50px;
}

.informations .info-list>li {
    list-style: none;
    text-align: left;
    font-size: 20px;
    line-height: 60px;
    color: #757f9a;
}

.informations .info-list>li::before {
    content: '';
    border-left: 2px solid #ccc;
    position: relative;
    left: -25px;
    padding-bottom: 18px;
    padding-top: 20px;
}

.informations .infocont h4 {
    color: #041d4f;
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
}

.informations .infocont p {
    font-size: 17px;
}

.informations .infocont {
    margin-top: 10px;
}
/*SLIDE DESIGNS*/

.design {
    background-color: #f3f5f9;
    padding-bottom: 80px;
}

.design h2 {
    color: #031c4e;
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 30px;
}

.design p {
    color: #586686;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
}

.design img {
    padding-top: 50px;
}

.design .text-slide {
    color: #334770;
    font-size: 16px;
    padding-top: 20px;
}

.slide .sinistra,
.slide .destra {
    opacity: 0;
}

@media (min-width: 768px) {
    .slide .sinistra {
    font-size: 50px;
    position: absolute;
    top: 50%;
    right: 102%;
    margin-top: -30px;
    color: gray;
    opacity: 1;
    }

    .slide .destra {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 102%;
    margin-top: -30px;
    color: black;
    opacity: 1;
    }
}

.slideballs .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #1482e2;
}

.full {
    background-color: #1482e2;
}

.list-inline li {
    padding-right: 0;
    padding-left: 0;
}
/*FEATURES*/

.features {
    margin-bottom: 70px;
}

.features h2 {
    color: #031c4e;
    font-weight: bold;
    font-size: 33px;
    padding-top: 50px;
    margin-bottom: 10px;
}

.features h3 {
    color: #1a305e;
}

.features p {
    color: #1a305e;
}

.features a {
    text-decoration: none;
}

.features img {
    padding-top: 50px;
}
/*CUSTOMERS*/

.customers {
    background: linear-gradient(#003ab7, #0041bf);
    padding-bottom: 50px;
}

.customers h2 {
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.customers th {
    color: #fff;
}

.customers td {
    color: #99b0e1;
}

.customers a {
    color: #0ebdcd;
}
/*ROCKER*/

.rocker {
    background-color: #f3f5f9;
    padding-bottom: 70px;
    position: relative;
}

.rocker h2 {
    color: #031c4e;
    font-weight: bold;
    font-size: 30px;
    padding-top: 50px;
}

.rocker .rockerbox {
    background-color: #fff;
    position: relative;
    width: 60%;
    left: 50%;
    margin-top: 80px;
    margin-bottom: 40px;
    transform: translateX(-50%);
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 2%;
}

@media screen and (min-width: 768px) {
    .rocker .rockerbox .sinistra {
        font-size: 50px;
        position: absolute;
        top: 50%;
        right: 105%;
        margin-top: -30px;
        color: gray;
        opacity: 1;
        }
        .rocker .sinistra i {
            color: gray;
        }
        .rocker .destra i {
            color: black;
        }
    .rocker .rockerbox .destra {
        font-size: 50px;
        position: absolute;
        top: 50%;
        left: 105%;
        margin-top: -30px;
        color: black;
        opacity: 1;
        }
}

@media screen and (min-width: 992px) {
    .rocker .rockerbox {
        width: 50%;
    }
    .rocker .sinistra i {
        color: gray;
    }
    .rocker .destra i {
        color: black;
    }
    .rocker .rockerbox .sinistra {
        font-size: 50px;
        position: absolute;
        top: 50%;
        right: 105%;
        margin-top: -30px;
        color: gray;
        opacity: 1;
        }

    .rocker .rockerbox .destra {
        font-size: 50px;
        position: absolute;
        top: 50%;
        left: 105%;
        margin-top: -30px;
        color: black;
        opacity: 1;
        }
}

@media screen and (min-width: 1200px) {
    .rocker .rockerbox {
        width: 30%;
    }
    .rocker .sinistra {
        font-size: 50px;
        position: absolute;
        top: 50%;
        right: 105%;
        margin-top: -30px;
        opacity: 1;
    }
    .rocker .sinistra i {
        color: gray;
    }
    .rocker .destra i {
        color: black;
    }
    .rocker .destra {
        font-size: 50px;
        position: absolute;
        top: 50%;
        left: 105%;
        margin-top: -30px;
        opacity: 1;
    }

}

.rockerbox img {
    margin: 0 auto;
}

.rockerbox .text-rocker {
    padding-top: 30px;
    color: #606d8a;
    font-size: 20px;
}

.rockerbox h5 {
    color: #031c4e;
    font-weight: bold;
    font-size: 17px;
    padding-top: 10px;
}

.rockerbox .texth {
    color: #5e6d8b;
}

.rockerbox .linkrocker a {
    color: #227dff;
    line-height: 60px;
}

.rocker .sinistra,
.rocker .destra {
    opacity: 0;
}

.balls .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #1482e2;
}

.balls .full {
    background-color: #1482e2;
}

.list-inline li {
    padding-right: 0;
    padding-left: 0;
}

.list-inline {
    text-align: center;
}
/*PROMO*/

.promo {
    background: linear-gradient(#003fb8, #00239d);
    padding-bottom: 50px;
}

.promo h2 {
    color: white;
    font-weight: bold;
    font-size: 35px;
    padding-top: 30px;
}

.btn {
    color: #1576ff;
    font-weight: bold;
    margin-top: 20px;
    font-size: 15px;
    padding: 5px;
}
/*FOOTER*/

.footer {
    background-color: #031c4e;
    padding-bottom: 50px;
}

.footer img {
    padding-top: 60px;
}

.footer .text1 {
    color: #8b94a9;
    font-size: 15px;
    padding-top: 20px;
}

.footer .text2 {
    color: #596785;
    font-size: 18px;
}

.footer i {
    color: #7a859d;
    font-size: 30px;
    margin: 0 5px;
    padding-bottom: 15px;
}

.footer h4 {
    color: #fff;
    font-size: 20px;
}

.footer li {
    color: #a4acbb;
    list-style: none;
    margin-left: -35px;
    font-size: 15px;
    padding: 5px 0;
}

.footer h4 {
    padding-top: 60px;
}